<!doctype html>
<html>
  <head>
     <link href="/static/css/profile.css" rel="stylesheet" >
  </head>
  <body>
    <img src="/static/img/pikachu.jpg">
    <div class="profile">
      <div class="box"><h1> Simantha Hong </h1></div>
      <br>
      <div class="box"><p> Today is: {{ now }}</p></div>
      
      <div class="box">
        <p> Username: chineyting </p>
        <p> ID: 620041848 </p>
        <p> Sex: Female </p>
        <p> Age: 22 </p>
        <p> Highest Score: 120 </p>
        <p> TDollars: 200 </p>
      </div>
    </div>
  </body>
</html>